* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: helvetica, sans-serif;
}

#gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* border: 3px solid red; */
}

.boardSpaces {
    border: 6px solid black;
    margin: 0 -6px -6px 0;
    background-color: lightblue;
    color: black;
    height: 3em;
    width: 3em;
    font-size: 3em;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* for revised code's gameboard spaces */
/* #boardspace {
    border: 6px solid black;
    margin: 0 -6px -6px 0;
    background-color: lightblue;
    color: black;
    height: 3em;
    width: 3em;
    font-size: 3em;
    display: grid;
    justify-content: center;
    align-items: center;
} */

.mainContent {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

    /* border: 2px solid red; */
}



h1 {
    display: flex;
    justify-content: center;
    height: fit-content;
    
    /* border: 3px solid red; */
    font-size: 4.5em;
}