* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: helvetica, sans-serif;
}



.mainContent {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

    /* border: 2px solid red; */
}

#gameboard {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    height: fit-content;
}

.boardspace {
    height: 100px;
    width: 100px;
    background-color: lightgray;
    border: 3px solid black;
}

#boardspace1,
#boardspace2,
#boardspace3 {
    border-top: none;
}

#boardspace3,
#boardspace6,
#boardspace9 {
    border-right: none;
}

#boardspace1,
#boardspace4,
#boardspace7 {
    border-left: none;
}

#boardspace7,
#boardspace8,
#boardspace9 {
    border-bottom: none;
}