html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}

.red-border {
    border: 2px solid red;
}

.blue-border {
    border: 2px solid blue;
}

.mainContent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: lightgray;
    box-sizing: border-box;
    border: 5px solid green;
}

.header-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 4.5em;
}

.gameboard-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-message,
.bottom-message,
.restart-button {
    height: 2em;
    width: 20em;
    font-size: 2em;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gameboard {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    height: fit-content;
    padding-top: 3em;
}

.restart-button {
    height: 2em;
    width: 20em;
    font-size: 2em;
    font-weight: bold;
    padding-top: 2em;
}

.startButton,
.restartButton {
    padding: 1em;
    font-size: 25px;
}

.boardspace {
    height: 1.8em;
    width: 1.8em;
    background-color: lightgray;
    border: 8px solid black;
    font-size: 5em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boardspace1,
#boardspace2,
#boardspace3 {
    border-top: none;
}

#boardspace3,
#boardspace6,
#boardspace9 {
    border-right: none;
}

#boardspace1,
#boardspace4,
#boardspace7 {
    border-left: none;
}

#boardspace7,
#boardspace8,
#boardspace9 {
    border-bottom: none;
}